# Relatório de Análise IV

## Seleções e Frequências

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/Alura/Curso Pandas/aluguel_residencial.csv', sep=';')

In [ ]:
dados

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

In [ ]:
# Selecione somente os imóveis classificados com tipo "Apartamento"
selecao = dados['Tipo'] == 'Apartamento'
registros_apartamentos = dados[selecao].shape[0]
registros_apartamentos

19532

In [ ]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao_casa = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
registros_casas = dados[selecao_casa].shape[0]
registros_casas

2212

In [ ]:
# imóveis imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
selecao_mt_quadrado = (dados['Area'] >= 60) & (dados['Area'] <= 100)
registros_mt_quadrado = dados[selecao_mt_quadrados].shape[0]
registros_mt_quadrado

8719

In [ ]:
# Selecione os imoveis que tenham pelo o menos 4 quartos e aluguel menor que R$ 2.000,00
selecao_quartos = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000.0)
registros_quartos = dados[selecao_quartos].shape[0]
registros_quartos

41

In [ ]:
print(f'Nº de imóveis classificados com tipo "Apartamento" -> {registros_apartamentos}')
print(f'Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> {registros_casas}')
print(f'Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {registros_mt_quadrado}')
print(f'Nº de imoveis que tenham pelo o menos 4 quartos e aluguel menor que R$ 2.000,00 -> {registros_quartos}')

Nº de imóveis classificados com tipo "Apartamento" -> 19532
Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila" -> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imoveis que tenham pelo o menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41

# Exercícios

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [ ]:
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [ ]:
selecao = (alunos['Aprovado'] == True) & (alunos['Sexo'] == 'F')
alunas_aprovadas = alunos[selecao]
alunas_aprovadas

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [ ]:
selecao = (alunos.Idade > 10) & (alunos.Idade < 20) | (alunos.Idade >= 40)
alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

In [27]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [29]:
selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo','Idade']]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [31]:
alunos.sort_values(by=['Idade'], inplace=True)
alunos[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True